<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dom6AiTesterGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dom6AiTesterGui.Properties.Settings>
            <setting name="Dom6ExeLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Dominions6\Dominions6.exe</value>
            </setting>
            <setting name="Map" serializeAs="String">
                <value>Map</value>
            </setting>
            <setting name="AiMod" serializeAs="String">
                <value />
            </setting>
        </Dom6AiTesterGui.Properties.Settings>
    </userSettings>
</configuration>